* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 192, 203);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 20px;
    font-size: 24px;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#logo-menu {
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}

nav p {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

nav p:hover {
    color: rgb(212, 126, 130);
    cursor: pointer;
}

nav span {
    color: rgb(212, 126, 130);
}

#inicio {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
}

#texto {
    width: 70%;
}

#texto h1 {
    font-size: 65px;
    line-height: 0.9;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

#texto h1 strong {
    color: rgb(212, 126, 130);
}

#texto h1::before {
    content: "";
    display: block;
    width: 110px;
    height: 4px;
    background-color: rgb(212, 126, 130);
    margin-bottom: 25px;
}

#texto p {
    line-height: 1.6;
    font-size: 28px;
}

#banner {
    display: flex;
    align-items: center;
}

#banner img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(212, 126, 130);
}

#funcionalidades h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

#funcionalidades ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-position: inside;
    gap: 10px;
}

#funcionalidades li {
    width: 32.5%;
    padding: 10px;
    background-color: rgb(212, 126, 130, 0.5);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(212, 126, 130);
    border-width: 2px;
}

hr {
    border-top: none;
    border-width: 1.5px;
    border-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}

#bolos-proximos h2 {
    margin-top: 30px;
    font-size: 30px;
}

#bolos {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

table {
    width: 100%;
}

th {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 15px;
}

td {
    width: 33%;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

.imagem {
    background-color: rgba(255, 255, 255, 0.4);
}

td img {
    width: 100%;
    max-width: 500px;
}

.preco {
    background-color: rgb(212, 126, 130, 0.5);
}

#ver-mais {
    text-align: center;
    background-color: rgb(212, 126, 130);
    padding: 10px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    width: 100%;
    font-size: 30px;
}

#ver-mais p:hover {
    font-weight: bold;
    cursor: pointer;
}